// COLORS

// Monochrome
$color-white: #ffffff;
$color-grey-1: #e0e3eb;
$color-grey-2: #888b97;
$color-grey-3: #626687;

// Colourful
$color-primary: #10b981;
$color-primary_dark: #0b9567;
$color-primary_light: #d1fae5;
$color-secondary: #f59e0b;
$color-black: #1b1c57;
$color-danger: #ef4444;
$color-danger_light: #fee2e2;
$color-info: #1d4ed8;
$color-info_light: #dbeafe;
